* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #0d0d0d;
  color: #f9f6f6f6;
}
.item {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.layer {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f9f6f6ca;
  overflow: hidden;
  transition: all 0.5s;
}
.item:hover .layer {
  top: 0;
}
/* side Nav */
.sideNav {
  position: fixed;
  top: 0;
  height: 100%;
  z-index: 545454;
  transition: all .5s;
}

.sideNavContent {
  background-color: #0d0d0d;
}
.close-btn
{
  display: none;
}

/* .outsideNav
{
  background-color: aqua;
} */
.links ul li {
  list-style: none;
  cursor: pointer;
}
.iconCursor {
  cursor: pointer;
}
.imgNav {
  width: 50px;
}
.outsideIcons {
  cursor: pointer;
}
/* search */
.form-control {
  background-color: transparent;
}
.form-control:focus {
  background-color: transparent;
}
/* details */
.recipe {
  list-style: none;
}
.alert {
  --bs-alert-padding-x: 0;
  --bs-alert-padding-y: 0;
}
a
{
  text-decoration: none;
  color: white;
}
#contacts
{
  display: none;
}